@{
    ViewData["Title"] = "For Us";
}
<h1>@ViewData["Title"]</h1>

<p>Rent A Car е водещата национална компания за коли под наем в България. Оперираме с най-големия автопарк в страната, който към момента е съставен от над 1800 коли, 90% от които чисто нови или до 3 годишни. Предлагаме национално покритие на услугата посредством верига от над 12 обслужващи офиса в страната и извършването на доставки до всеки български град и курорт, както и до големите летища на Балканите.</p>
